section.site__block.block__buttons > .container > .flexgrid > ul {
  justify-content: center;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li {
  flex-grow: 0;
  flex-shrink: 1;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li:last-of-type:first-of-type {
  margin: 0 auto;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li i {
  font-size: 4.8rem;
  color: #ef610d;
  margin: 15px 0;
  transition: all 0.4s ease;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li p {
  margin: 0;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li p > span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  padding-bottom: 2px;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li p > span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: auto;
  width: 0;
  height: 0;
  transition: width 0.25s ease;
  border-bottom: 2px solid #ef610d;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button) {
  color: black;
  display: block;
  margin: 0;
  text-align: center;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button):hover i, section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button):focus i, section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button):active i {
  transform: translateY(-10%);
  color: #ef610d;
}
section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button):hover p > span, section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button):focus p > span, section.site__block.block__buttons > .container > .flexgrid > ul > li > a:not(.button):active p > span {
  color: #ef610d;
}
section.site__block.block__buttons > .container > .flexgrid .button:last-of-type:first-of-type {
  margin: 0;
}