// 
// 
// 
@import '../../__pre/_sass/site/vars';
@import '../../__pre/_sass/site/mixins';

section.site__block.block__buttons {


    >.container {

        $g: getVar($sizing, gutter, px, small);

        >.flexgrid {

            >ul {
                justify-content: center;

                >li {
                    text-align: center;
                    flex-grow: 0;
                    flex-shrink: 1;

                    // if a button is alone; it should have no margins
                    &:last-of-type:first-of-type {
                        margin: 0 auto;
                    }

                    // 
                    i {
                        font-size: 6rem;
                        color: rgba(getVar($pallete, brand, daccent), 1);
                        margin: $g 0;
                        transition: all 0.4s ease;
                    }

                    p {
                        margin: 0;
                        > span {
                            display: inline-block;
                            // text-transform: uppercase;
                            // font-weight: normal;
                            // font-size: 2rem;
                            @include accentUnderline();
                        }
                    }
                    // the whole block is the button (icon + title)
                    >a {
                        color: rgba(getVar($pallete, basic, black), 1);
                        display: block;
                        margin: 0;
                        // padding: $g 0;
                        text-align: center;
                        &:hover,
                        &:focus,
                        &:active {
                            i {
                                transform: translateY(-10%);
                                color: rgba(getVar($pallete, brand, daccent), 1);
                            }
                            p > span {
                                color: rgba(getVar($pallete, brand, daccent), 1);
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }


            .button {
                &:last-of-type:first-of-type {
                    margin: 0;
                }
            }

        }

    }
}