@media only screen {

    // globals
    // 
    body {
        font-family: $fonts-base-body;
        font-weight: 300;
        background-color: $colors_white;
        color: $colors_grey-dark;
        font-size: 1.4rem;
        // display: flex;
        // flex-direction: column;
    }
    // stretch main to stick footer to bottom of screen
    main {
        // flex: 1 0 auto;
    }

    // object-fit all images
    img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    // zoomable bg images
    .bgimg {
        position: relative;
        overflow: hidden;
        .bgimg-img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            width: 101%;
            height: 101%;
            transition: transform 0.4s ease;
        }
        &.bgimg--doeszoom {
            &:hover{
                .bgimg-img {
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }
        }
    }

    // Elements
    // 
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fonts-base-headers;
        font-weight: 300;
    }


    a {
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border-color 0.2s ease, color 0.2s ease;
        color: $colors_grey-light;
        &:hover,
        &:active,
        &:focus {
            color: $colors_green;
            border-bottom: 1px solid $colors_green;
        }
    }
}