// breakpoints

$medium: 641px;
$large: 1025px;

$bp_sm : 640px;
$bp_md : 960px;
$bp_lg : 1280px;
$bp_exlg : 1620px;


// fonts

$fonts-base-body : 'Lato', sans-serif;
$fonts-base-headers : 'EB Garamond', serif;


// colors
$colors_green : #7dce94;
$colors_grey-dark : #3d3d3f;
$colors_grey-light : #f6f5f3;
$colors_white : #f9f8fd;