// 
// 
// 
@import  '../../__pre/_sass/site/vars';
@import  '../../__pre/_sass/site/mixins';
section.site__block.block__banner {
    
    background-color: rgba(getVar($material, brand, accent), (1 / 3));
    

    $g : getVar($sizing, gutter, px, normal);
    
    > .container {


        padding: (2 * $g) 0;

        > .flexgrid {
            margin-bottom: 0;
            > ul, .slick-track {
                flex-flow: row nowrap;
                align-items: center;
                overflow: hidden;
                > li, > .slick-slide {
                    img {
                        filter: grayscale(1);
                        height: 72px;
                        object-fit: contain;
                        opacity: (2 / 3);
                        transition: opacity 0.25s ease, filter 0.25s ease;
                        &:hover, &:focus, &:active, &.active {
                            filter: grayscale(0);
                            opacity: 1;
                        }
                    }
                    &:nth-of-type(n+1),
                    &:nth-of-type(5n){
                        margin: 0 (2 * $g) 0 0;
                    }
                    &.slick-center {
                        img {
                            filter: grayscale(0);
                            opacity: 1;
                        }
                    }
                }
            }

        }
        
        
        
    }
    
    
    
    
}