section.site__block.block__card > .container > .flexgrid > ul {
  align-items: center;
}
section.site__block.block__card > .container > .flexgrid > ul > li .site__block.block__image > .container {
  margin: 0 auto;
  max-width: 180px;
  position: relative;
}
section.site__block.block__card > .container > .flexgrid > ul > li .site__block.block__image > .container > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}