// 
// 
// 
// 
// 


// element is a card
// should 'fill' its container
.card {
    $g: getVar($sizing, gutter, px, normal);
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
    // 
    margin: 0 0 0 0;
    // 
    background-color: rgba(getVar($pallete, basic, white), 1);
    @include boxshadow(2);
    // 
    >div {
        //
        flex: 0 1 auto;
        //
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        //
        &.content {
            padding: $g;
            margin: $g 0;
            padding-left: getVar($sizing, gutter, px, normal);
            width: calc(50% - #{$g});
        }
        &.bgimage {
            margin: 0 0 0 $g;
            width: 50%;
            @include aspectRatio(16,9);
        }
    }
}
// breaking to horz on a tweak point for no specific reason
@media screen and (max-width: 720px){

    .card {
        // 
        $g: getVar($sizing, gutter, px, normal);
        // 
        flex-flow: column nowrap;
        > div {

            &.content {
                width: 100%;
                margin: $g 0;
            }
            &.bgimage {
                width: 100%;
                margin: 0;
            }
        }
    }
}