// 
// 
// 
// 
// 

// 
footer {
    margin: getVar($sizing, gutter, px, xlarge) 0 0 0;
    // standard gutter
    $g: getVar($sizing, gutter, px, normal);
    background-color: getVar($material, shades, dark);
    color: getVar($material, shades, light);
    padding: $g 0;
    
    .container {
        display: flex;
        flex-flow: row wrap;
        padding: $g 0;
        justify-content: space-between;
        >section {
            // 
            
            flex: 0 1 auto;
            margin: 0 $g $g 0;
            &:last-of-type{ margin: 0 0 $g 0; }
            // 

            // footer section headings
            .logo.logo--text,
            h4 {
                color: getVar($material, shades, light);
                border-bottom: 1px solid getVar($material, shades, light);
                margin: 0 auto getVar($sizing, gutter, px, small) auto;
                padding: 0 0 2px 0;
            }

            &:first-of-type {}

            &:last-of-type {}
        }
    }

    .address {
        >div {
            margin: 5px 0;
        }
    }

    .iconlinks {
        padding: ($g / 2) 0;

        .fab {
            font-size: 2.4rem;
        }
    }



}