footer {
    background-color: getVar($colors, black, dark);

    
    .container {
        $g : getVar($sizing, gutter, px, normal);
        
        color: getVar($colors, white, light);
        display: flex;
        flex-flow: row nowrap;
        text-align: center;
        justify-content: space-between;
        padding: $g 0;

        > div > h4 {
            border-bottom: 2px solid getVar($colors, white, light);
        }
    }
    
    
  
    
}