/* 
*   Hero Space
*/
section.hero {
    >.container {
        // 
        position: relative;
        z-index: 1;
        // 
        height: calc((200vh / 3) - 72px);
        max-height: 50vw;
        min-height: 300px;
        // 
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        text-align: left;
        // 
        color: rgba(getVar($pallete, basic, white), 1);

        &.hero__dark-text {
            color: rgba(getVar($pallete, basic, black), 1);
        }

        >div {
            padding: 0 0 0 1rem;
        }
        
        
        
    }
    
    &.hero__hasimage {
        @include bgimage;
        @include bgGradient();
        
        > .container {
            > h1, > div > p {
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.66);
            }
        }
    }

}
/* 
*   Practice Areas
*/
body.single section.hero>.container {
    height: (100vw / 3);
}