// 
// 
// 

section.hero {

    @include bgimage;
    @include bgGradient($h : 75%);
    padding: (getVar($sizing,gutter,px,large) * 2) 0;
    
    .container {
        position: relative;
        z-index: 1;
        color: rgba(getVar($colors, white, full), 0.8);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        h2 {
            @include fontS-50;
            font-weight: 100;
            letter-spacing: 2px;
        }
    }
    
}