// 
// 
// 
// 
// 
footer .navlinks {

    
    > ul {
        > li {
            > a {
                > span {
                    
                }
            }
            a {
                border: none;
                position: relative;
                display: block;
                color: getVar($material, shades, light);
                font-size: 1.6rem;
                line-height: 2.8rem;
                display: inline-block;
                padding: 0 0 2px 0;
                @include accentUnderline();
                
                &:hover,
                &:focus,
                &:active {
                    border: none;
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    
    
}