// 
// 
// 
//  nav.navlinks, if found in the header
header.header .navlinks {

    $g: getVar($sizing, gutter, px, normal);

    > ul {

        > li {
    
            // 
            position: relative;
            margin: 0 ($g / 2) 0 0;
            
            &:last-of-type {
                margin: 0 0 0 0;
            }

            > a {
                line-height: 72px;
            }

            // interaction 
            a {
                > span {
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    display: inline-block;
                    padding: 0 0 2px 0;    
                    @include accentUnderline();
                }
                &:hover,
                &:focus,
                &:active {
                    >span {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
            
            // top level items w/ children
            &.parent {
                position: relative;
                
                // down chevron
                > a > span {
                    position: relative;
                    padding: 0 ($g / 2) 0 0;
                    &:after {
                        content: "\f078";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        display: block;
                        position: absolute;
                        font-size: 12px;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                        padding: 2px 0 0 0;
                    }
                }

                // reveal sub-menu on hover (this element is also a link)
                &:hover {
                    .sub-menu {
                        display: flex;
                    }
                }
            }


            // <ul>
            .sub-menu {
                display: none;
                // display: flex;
                flex-flow: column nowrap;
                position: absolute;
                top: 90%;
                right: 0;
                z-index: 9;
                min-width: 100%;
                background-color: getVar($colors, white, full);
                @include boxshadow(4);
                border: 1px solid rgba(getVar($colors, black, dark), 0.33);
                > li {
                    > a {
                        padding: ($g / 2);
                        &:hover, &:focus, &:active {
                            background-color: getVar($colors, white, light);
                        }
                        > span {

                        }
                    }
                }
            }
        }
    }
}