footer {


    .navlinks {


        .menu {
            display: flex;
            flex-flow: row nowrap;
        }

        .menu-item {
            > a {
                color: getVar($colors, white, light);
            }
        }
        
        
    }
    
    
}