// 
// 
// 
.popup {

    $g : getVar($sizing, gutter, px, normal);
    background-color: rgba(getVar($material, shades, light), 1);
    padding: ($g * 2);
    margin: 5vh auto;
    width: getVar($sizing, content, normal);
    > .container {

        > section {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0 0 $g 0;
            > div {
                flex: 0 1 auto;
                width: calc(50% - (#{$g} / 2));
                &:last-child {
                    margin-left: $g;
                }
            }
        }
        
        .bgimg {
            .bgimg-img {
                @include aspectRatio();
                // @include bgGradient();
            }
        }
    }
}