// 
// 
// 
// 
// 

section.prefooter {
    border-top: 1px solid rgba(getVar($material, shades, light), 1);
    > .container {
        margin: getVar($sizing, gutter, vw, xlarge) auto 0 auto;
        > h4 {
            color: rgba(getVar($material, brand, accent), 1);
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            
        }

        > div {

            >.wpforms-container {
                margin: 0;

            }
        }
        
    }
    
}