// 
// 
// 

// body.page-testimonials {
    section.block__content_grid .flexgrid {

        
        // @include flexboxGrid($cols : 1);

        $g: getVar($sizing, gutter, px, normal);

        hr {
            margin: getVar($sizing, gutter, px, large) 0;
        }

        .testimonial {
            
            .name {
                display: none;
            }

            // top half
            >div:first-child {
                display: flex;
                flex-flow: column nowrap;
                > h3 {
                    margin: 0 0 $g 0;
                    padding: $g 0 0 0;
                }
                > div {
                    border-top: 2px solid rgba(getVar($material, brand, accent), 0.5);
                    padding-top: $g;
                }
            }
            
            >div:last-child {
                margin: $g 0 0 0;
                text-align: right;
                > span {
                    font-family: "Cormorant Garamond";
                    &.name {
                        letter-spacing: 1px;
                        font-weight: 400;

                    }
                    &.position {
                        font-style: italic;
                        font-weight: normal;

                    }
                }
            }
        }
    }
// }

// body:not(.page-testimonials) .site__block.block__content_grid {

//     .container {
//         .flexgrid {
//             text-align: center;

//             >ul.testimonials {
//                 align-items: flex-start;

//                 >li {
//                     text-align: center;


//                     font-weight: normal;

//                     .keyphrase {
//                         font-size: 2.4rem;
//                         text-transform: uppercase;
//                     }

//                     .name {
//                         font-style: italic;
//                         font-weight: normal;
//                     }


//                     >div {
//                         display: inline-block;
//                         width: 100%;
//                         margin: 0 auto;
//                         border: 4px solid rgba(getVar($material, brand, accent), 1);
//                         border-radius: 50%;
//                         overflow: hidden;
//                         display: flex;
//                         flex-flow: row nowrap;
//                         align-items: center;
//                         justify-content: center;
//                         @include aspectRatio();
//                         max-width: 320px;
//                         min-width: 180px;
//                     }

//                     &:nth-of-type(1) {
//                         >div {
//                             width: (200% / 3);
//                         }
//                     }

//                     &:nth-of-type(2) {
//                         align-self: flex-end;
//                         margin-top: getVar($sizing, gutter, vw, normal);

//                         >div {
//                             width: 100%;
//                         }
//                     }

//                     &:nth-of-type(3) {
//                         >div {
//                             width: 80%;
//                         }
//                     }
//                 }
//             }
//         }

//     }

// }