// nav.navlinks container for main nav
.navlinks {

    $g: getVar($sizing, gutter, px, normal);

    // create full height
    >ul,
    li,
    a,
    & {
        height: 100%;
    }

    .sub-menu {
        // display: flex;
        flex-flow: column nowrap;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 9;
        min-width: 100%;

        >li {
            background-color: rgba(getVar($colors, white, light), 1);

            >a {
                color: rgba(getVar($colors, black, dark), 1);
            }
        }
    }

    >ul {
        display: flex;
        flex-flow: row nowrap;

        >li {
            position: relative;

            &:last-of-type {
                margin: 0 0 0 0;
            }


            a {
                display: block;
                text-decoration: none;
                border: none;
                color: rgba(getVar($colors, black, dark), 1);
                padding: ($g / 2);
                white-space: nowrap;

                &:hover,
                &:focus,
                &:active {
                    background-color: rgba(getVar($colors, black, dark), 1);
                    color: rgba(getVar($colors, white, light), 1);

                }
            }

            &.parent {
                &:hover {
                    >a {
                        background-color: rgba(getVar($colors, black, dark), 1);
                        color: rgba(getVar($colors, white, light), 1);
                    }

                    .sub-menu {
                        display: flex;
                    }
                }
            }

            &.open {
                .sub-menu {
                    display: flex;
                }
            }

            // the current page
            &.active {
                >a {
                    background-color: rgba(getVar($colors, black, dark), 1);
                    color: rgba(getVar($colors, white, light), 1);
                }
            }
        }
    }
}