// 
// 
@import '../../__pre/_sass/site/vars';
@import '../../__pre/_sass/site/mixins';
// 
// 
.block__content_grid > .container {
    $g : getVar($sizing, gutter, px, normal);
    
    // 
    text-align: center;

    
    // block heading
    > h2 {
        margin: 0 0 ($g / 2) 0;
    }
    // block sub-heading
    > div {
        margin: 0 0 ($g * 2) 0;
    }
    
    // block content (grid)
    > .flexgrid {
        margin: getVar($sizing, gutter, px, normal) 0;
    }
    
}


@import 'pre/cgb.testimonials';