// 
// 
@import '../../__pre/_sass/site/vars';
@import '../../__pre/_sass/site/mixins';
// 
// 
.block__content_grid > .container {
    $g : getVar($sizing, gutter, px, normal);
    
    // block content (grid)
    > .flexgrid {
        margin: getVar($sizing, gutter, px, large) 0 -30px 0;
        > ul{
        }

        > a.button {
            margin: $g auto 0 auto;
        }
    }
    
}


@import 'pre/cgb.testimonials';