.block__content_grid div.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  position: relative;
  padding: 15px 0 0 0;
}
.block__content_grid div.filters > a.button {
  flex: 0 1 26%;
  margin: 0 0 15px 0;
  border-radius: 12px 0;
  transition: border-radius 0.3s ease;
}
.block__content_grid div.filters > a.button:hover, .block__content_grid div.filters > a.button:focus, .block__content_grid div.filters > a.button:active, .block__content_grid div.filters > a.button.active {
  border-radius: 0 12px;
}
.block__content_grid div.filters > a.button.ghost {
  border: 2px solid #ef610d;
  background-color: rgba(239, 97, 13, 0);
  color: #ef610d;
}
.block__content_grid div.filters > a.button.ghost:hover, .block__content_grid div.filters > a.button.ghost:active, .block__content_grid div.filters > a.button.ghost:focus {
  border: 2px solid #ef610d;
  background-color: #ef610d;
  color: white;
}
.block__content_grid div.filters > a.button.ghost.active {
  border: 2px solid #9f5b77;
  background-color: #9f5b77;
  color: white;
}
.block__content_grid div.filters > a.button.ghost.active:hover:not(.ghost), .block__content_grid div.filters > a.button.ghost.active:active:not(.ghost), .block__content_grid div.filters > a.button.ghost.active:focus:not(.ghost) {
  border: 2px solid #9f5b77;
  background-color: rgba(159, 91, 119, 0);
  color: #9f5b77;
}
.block__content_grid div.filters > a.button[data-term=all] {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.block__content_grid > .container > .viewall {
  text-align: center;
}
.block__content_grid > .container > .viewall > a.button {
  margin: 60px auto 0 auto;
}

section.block__content_grid .flexgrid hr {
  margin: 60px 0;
}
section.block__content_grid .flexgrid .testimonial .name {
  display: none;
}
section.block__content_grid .flexgrid .testimonial > div:first-child {
  display: flex;
  flex-flow: column nowrap;
}
section.block__content_grid .flexgrid .testimonial > div:first-child > h3 {
  margin: 0 0 30px 0;
  padding: 30px 0 0 0;
}
section.block__content_grid .flexgrid .testimonial > div:first-child > div {
  border-top: 2px solid rgba(159, 91, 119, 0.5);
  padding-top: 30px;
}
section.block__content_grid .flexgrid .testimonial > div:last-child {
  margin: 30px 0 0 0;
  text-align: right;
}
section.block__content_grid .flexgrid .testimonial > div:last-child > span {
  font-family: "Cormorant Garamond";
}
section.block__content_grid .flexgrid .testimonial > div:last-child > span.name {
  letter-spacing: 1px;
  font-weight: 400;
}
section.block__content_grid .flexgrid .testimonial > div:last-child > span.position {
  font-style: italic;
  font-weight: normal;
}