// 
@import '../../__pre/_sass/site/vars';
@import '../../__pre/_sass/site/mixins';
// 
//  
// 
// 
// 
// 
.block__content_grid {

    
    > .container {
        $g : getVar($sizing, gutter, px, normal);
        
        > .viewall {
            text-align: center;
            > a.button {
                margin: (2 * $g) auto 0 auto;
            }
        }
        
    }
}


@import 'pre/cgb.testimonials';