// 
// 
// 




section.practice_area {

    > div.container {
        &.normal {
            width: getVar($sizing, content, normal);
            margin: 0 auto;
        }
    }
    
    
    
}



.flexgrid {

    ul.practice_areas {
        $g: getVar($sizing, gutter, px, xlarge);

        .grid_item {
            +hr {
                margin: 0 0 (1 * $g) 0;
            }
            > a {
                color: getVar($material, shades, dark);
            }
            &:nth-child(n+1),
            &:nth-child(1n) {
                margin: 0 0 (1 * $g) 0;
                &:last-of-type {
                    margin: 0 0 0 0;
                    +hr {
                        display: none;
                    }
                }
            }

            .card {
                @include boxshadow(0);
                padding: 0;
                text-align: left;
                .bgimage {
                    // width: 50%;
                    @include aspectRatio(16, 9);
                    .bgimage-img {
                        // @include bgGradient();
                    }
                }
                h3 > span{
                    @include accentUnderline($d : right);
                }
                &:hover,
                &:focus,
                &:active {
                    @include boxshadow(1);
                    .bgimage .bgimage-img {
                        // @include bgGradient($eC:rgba(getVar($colors, black, full), 0.33))
                    }
                    h3 > span:before {
                        width: 100%;
                    }
                }
            }

            // 1 column of cards that alternate left/right
            &:nth-of-type(even) .card {

                 h3>span {
                     @include accentUnderline($d : left);
                 }
                 &:hover,
                 &:focus,
                 &:active {
                     h3>span:before {
                         width: 100%;
                     }
                 }
                text-align: right;

                >.content {
                    padding: 0;
                    padding-right: $g;
                    order: 2;
                }

                // flip flexbox order
                >.bgimage {
                    margin: 0;
                    margin-right: getVar($sizing, gutter, px, normal); // adjust margins for alternating cards
                }
            }
        }

    }
}