// 
body.page-our-team {
    $g: getVar($sizing, gutter, px, normal);


    section.site__block.block__content_grid {
        position: relative;
        &:before {
            content: '';
            background-color: rgba(getVar($pallete, brand, dshade), 1);
            width: 100%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
            transform: translateY(-50%);
        }
    }
    
    
    
    div.flexgrid {

        
        
        >ul.team_members {
            align-items: stretch;
            align-items: center;
            justify-content: center;
            
            >li {
                flex-grow: 0;
                padding: $g;
                @include boxshadow(4);
                background-color: rgba(getVar($pallete, basic, white), 1);
                >a {

                    >div {
                        display: flex;
                        flex-flow: row nowrap;
                    }

                    >article {
                        display: block;
                        margin: $g 0 0 0;
                    }

                    .bgimage {
                        flex: 0 1 (100% / 3);
                        margin: 0 $g 0 0;
                        border-radius: 50%;
                        @include aspectRatio();
                        @include bgGradient($h:66%);
                    }
                }
            }
        }
    }
}