// 
// 
// 

body.home {

    $g: getVar($sizing, gutter, px, normal);


    main {


        .site__block.block__buttons {

            .flexgrid {
                $g : getVar($sizing, gutter, px, normal);
                > ul {
                    > li {
                        margin: 0 0 getVar($sizing, gutter, vw, large) 0;
                        &:last-child{
                            margin: 0;
                        }
                        > a {
                            display: inline-block;
                            i {

                                margin: 0 $g 0 0;
                            }
                            i,p {
                                display: inline-block;
                                vertical-align: middle;
                            }

                        }
                    }
                }
            }
            
        }
        
        
        
        

        .client_spotlight {
            
            //
            //
            //
            //
            .client_spotlight-banner {
                
                overflow: hidden;
                padding: getVar($sizing,gutter,vw,normal) 0;
                margin: getVar($sizing, gutter, vw, large) 0 0 0;                
                // 
                border-top: 2px solid rgba(getVar($pallete,brand,dshade), 0.66);
                border-bottom: 2px solid rgba(getVar($pallete,brand,dshade), 0.66);
                // 
                // 
                // 
                
                >ul,
                .slick-track {
                    flex-flow: row nowrap;
                    align-items: center;
                    overflow: hidden;

                    >li,
                    >.slick-slide {
                        img {
                            filter: grayscale(1);
                            height: 72px;
                            object-fit: contain;
                            opacity: (2 / 3);
                            transition: opacity 0.25s ease, filter 0.25s ease;
                            &:hover,
                            &:focus,
                            &:active,
                            &.active {
                                filter: grayscale(0);
                                opacity: 1;
                            }
                        }

                        &:nth-of-type(n+1),
                        &:nth-of-type(5n) {
                            margin: 0 (2 * $g) 0 0;
                        }

                        &.slick-center {
                            img {
                                filter: grayscale(0);
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            > div > .flexgrid {
                margin-top: getVar($sizing, gutter, vw, large);
            }

            // 
            // 
            // 
            // 
            li.featured_client {
                
                // 
                display: flex;
                flex-flow: column nowrap;
                background-color:rgba(getVar($pallete, basic, white), 1);
                justify-content: center;
                transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
                padding: $g;
                text-align: left;

                // Card Styles:
                // background-color:rgba(getVar($pallete, basic, white), 1);
                @include boxshadow(1);

                // 
                >.info {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: space-between;

                    >div {
                        flex: 0 1 40%;

                        .name {
                            font-size: 2.4rem;
                            font-weight: 400;
                        }

                        .funding {}
                    }

                    >.bgimage {
                        // min-width: 120px;
                        @include aspectRatio(16, 9);
                        margin: 0 0 0 $g;
                        // background-color: black;

                        >.bgimage-img {
                            background-color: transparent;
                            background-size: contain;
                        }
                    }

                    // 
                    // !!!
                    @media screen and (max-width: 960px) {
                        // !!!
                        // 
                        flex-flow: column nowrap;
                        align-items: center;

                        >div {
                            $g: getVar($sizing, gutter, px, small);

                            &.bgimage {
                                flex: 0 1 auto;
                                margin: $g 0 0 0;
                                width: (100% / 3);
                            }

                            &:not(.bgimage) {
                                margin: $g 0 0 0;
                                flex: 0 1 auto;
                                text-align: center;
                            }
                        }
                    }
                }

                // 
                >.details {
                    margin: $g 0 0 0;

                }

                >.category {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: rgba(getVar($pallete, brand, main), 1);
                    color: white;
                    padding: 10px 30px;
                    font-weight: 400;
                    transform: translateY(-50%);
                    @include boxshadow(1);

                    margin: 0 0 $g 0;

                    >span {
                        text-transform: uppercase;
                        color: white;
                    }
                }
            }
        }



        >.block__columns {
            .block__card {
                .block__image {

                    // meet patricia card
                    .container {
                        border-radius: 50%;
                        overflow: hidden;
                        @include aspectRatio();
                        display: flex;

                        img {}
                    }
                }
            }
        }
    }
}