// 
// 
// 
// 
body.page-clients {

    section.block__content_grid,
    section.clients {

        .container > div {
            
            
            // @include flexboxGrid($cols : 2, $grow: 0, $align : flex-start, $gutter: 60px);
            
            >ul {
                // 
                $g : getVar($sizing, gutter, px, normal);

                > hr {
                    margin: 0px auto 30px auto;
                    position: relative;
                }

                > li {
                    // 
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
                    padding: $g;
                    text-align: left;

                    &:nth-of-type(2n){
                        // margin-top: 90px;
                    }
                    
                    // Card Styles:
                        // background-color:rgba(getVar($colors, white, full), 1);
                        // @include boxshadow(1);
                    // 
                    > .info {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: space-between;
                        >div {
                            .name {
                                font-size: 2.4rem;
                                font-weight: 400;
                            }
                            .funding {

                            }
                        }
                        >.bgimg {
                            // width: (100% / 3);
                            // max-width: 140px;
                            width: 140px;
                            @include aspectRatio(16, 9);
                            margin: 0 0 0 $g;
                        }
                    }
                    // 
                    > .details {
                        margin: $g 0 0 0;
                        
                    }
                    > .category {
                        // position: absolute;
                        // top: 0;
                        // right: 0;
                        // background-color: getVar($material, brand, accent);
                        // color: white;
                        // padding: 10px 30px;
                        // font-weight: 400;
                        // transform: translateY(-50%);
                        // @include boxshadow(1);

                        margin: 0 0 $g 0;
                        > span {
                            text-transform: uppercase;
                            letter-spacing: 1ch;
                            font-weight: bold;
                            color: rgba(getVar($material, brand, main), 1);
                        }
                    }
                }
            }
        }
    }
}