// 
// 
// 

body.home {

    $g: getVar($sizing, gutter, px, normal);
    
    main {

        > .block__columns {
            .block__card {
                .block__image {

                    // meet patricia card
                    .container {
                        border-radius: 50%;
                        overflow: hidden;
                        @include aspectRatio();
                        display: flex;
                        img {
                        }
                    }
                }
            }
        }
    }
}