// 
// 
// 

body.home {
    main {
        > .site__block.block__buttons {
            .flexgrid {
                > ul {
                    > li {
                        margin: 0 0 getVar($sizing, gutter, vw, large) 0;
                        &:last-child{
                            margin: 0;
                        }
                        > a {
                            display: inline-block;
                            i,p {
                                display: block;
                            }
                            p {
                                margin: getVar($sizing, gutter, px, normal) 0 0 0;
                            }

                        }
                    }
                }
            }
            
        }
        
        > section.client_spotlight {

            // * client spotlight banner *
            // using slick --- see main.js
            .client_spotlight-banner {
                overflow: hidden;
                padding: getVar($sizing,gutter,vw,small) 0;
                margin: getVar($sizing, gutter, vw, large) 0 0 0;                
                border-top: 2px solid rgba(getVar($pallete,brand,dshade), 0.66);
                border-bottom: 2px solid rgba(getVar($pallete,brand,dshade), 0.66);
                .client {
                    margin: 0 getVar($sizing, gutter, px, small) 0 0;
                    height: 72px;
                    &.bgimage {
                        @include aspectRatio(16,9);
                        > .bgimage-img {
                            filter: grayscale(100%);
                            opacity: (2 / 3);
                            transition: opacity 0.25s ease,
                            filter 0.25s ease;
                            background-size: contain;
                        }
                        &:hover, &:focus,&:active,
                        &.slick-center {
                            .bgimage-img {
                                filter: grayscale(0%);
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            li.featured_client {
                .clientcard {
                    
                }
            }
        }



        >.block__columns {
            .block__card {
                .block__image {

                    // meet patricia card
                    .container {
                        border-radius: 50%;
                        overflow: hidden;
                        @include aspectRatio();
                        display: flex;

                        img {}
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 960px){

    body.home {

        main {
            .client_spotlight {

                .client_spotlight-banner {
                    // margin: getVar($sizing, gutter, px, normal) 0 0 0;
                }
            } 
        } 
            
    } 


}