// 
// 
// 
// 

body.single-practice_areas {


    section.practice_area .container {

        
        $g : getVar($sizing, gutter, px, normal);
        
        .heading,
        .subheading {
            text-align: center;
            margin: 0 0 $g 0;
        }
        
        > div {
            margin: ($g * 2) auto 0;
        }
        
        .blurbs {

            // @include flexboxGrid();
            > ul {
                > li {
                    blockquote {
                        // border-left: 2px solid rgba(getVar($material, brand, accent), 1);
                    }
                }
            }
            
        }

        .features {
            > ul {
                margin: $g 0 0 0;
                padding: 0 0 0 $g;
                
                > li {
                    display: block;
                    margin: 0 0 ($g / 2) 0;
                    display: flex;
                    flex-flow: row nowrap;
                    > i, > span {
                    }
                    > i {
                        font-size: 1rem;
                        color: getVar($material, brand, accent);
                        margin: 1rem 0 0 0;
                    }
                    > span {
                        // border-bottom: 2px solid getVar($material, brand, main);
                        font-size: 1.8rem;
                        margin: 0 0 0 ($g / 2);
                        padding-bottom: 2px;
                    }
                }
            }
        }

        
        
        
    }
    
    
    
    
}