// 
// 
// scope to client page
body.page-clients {



    // scope to *clients* content grid
    section.block__content_grid {

        $g : getVar($sizing, gutter, px, normal);


        >.container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            >div.flexgrid,
            div.filters {
                flex: 1 1 auto;
                margin: 0 auto;
            }
        }

        div.flexgrid {
            // border-left: 2px solid rgba(getVar($pallete, brand, laccent), 0.5);
            width: calc(80% - #{$g});
            margin: 0 0 0 $g;
        }

        div.filters {
            width: 200px;
            display: flex;
            flex-flow: column nowrap;
            >a.button {

                margin: ($g / 2) 0 0 0;

                &:first-child {
                    margin: 0;
                }

                border-color: rgba(getVar($pallete, brand, laccent), 1);
                color: rgba(getVar($pallete, brand, laccent), 1);
                font-weight: bold;

                &:hover,
                &:focus,
                &:active,
                &.active {
                    color: rgba(getVar($pallete, basic, white), 1);
                    background-color: rgba(getVar($pallete, brand, laccent), 1);
                    border-color: rgba(getVar($pallete, brand, laccent), 1);
                }
            }
        }


        //  the clients slider
        // 
        ul.clients.slick-slider {
            display: block;
            margin: -$g 0 0 0;
            .slick-track {
                margin: 0 auto;
                display: flex;
                flex-flow: row nowrap;
            }
            .slick-slide {
                // 
                // 
                position: relative;
                margin: $g;
                height: auto;

                // do card stuff 
                // 
                border: 1px solid rgba(getVar($pallete, basic, gray), 0.5);
                @include boxshadow(2);
                opacity: 0.33;
                transition: all 0.4s ease-in-out;
                &.slick-current {
                    @include boxshadow(4);
                    opacity: 1;
                }
                // hover
                &:hover, &:focus, &:active {
                    @include boxshadow(4);
                }
                // 
                // 
                // 'label' for cat at top
                .category {
                    padding: 7.5px 15px;
                    text-align: center;
                    background-color: rgba(getVar($pallete, brand, laccent), 1);
                    text-transform: uppercase;
                    color: rgba(getVar($pallete, basic, white), 1);
                    font-weight: bold;
                    font-size: 2rem;
                    // white-space: nowrap;
                    letter-spacing: 2px;
                }
                
                // everything below the label is padded (card style)
                .client {
                    border-top: none 0;
                    // text-align: center;
                    padding: $g;
                    // 
                    // 
                    // 
                    .name,
                    .details {
                        margin: ($g / 2) auto 0 auto;
                    }
                    .funding {
                        font-style: italic;
                        margin: 0;
                    }
                    // 
                    // client logos
                    .bgimage {
                        @include aspectRatio(16, 9);
                        max-width: 200px;
                        .bgimage-img {
                            background-color: transparent;
                            background-size: contain;
                        }
                    }
                }
                
            }
        }

        //  * all media queries are contained within the block for simplicity *
        // 
        // 
        @media screen and (max-width: 960px){
            > .container {
                flex-flow: column nowrap;
                div.flexgrid,
                div.filters {
                    width: 100%;
                    margin: 0;
                    .slick-slide {
                        margin: 0;
                    }
                }
                div.filters {
                    flex-flow: row wrap;
                    > a {
                        // width: calc(50% - 15px);
                        // margin: 0 15px 15px 0;
                        width: 100%;
                        margin: 5px 0 0 0;
                        &:first-child {
                            // margin: 0 15px 15px 0;
                            margin: 0;
                        }
                    }
                }
                ul.clients.slick-slider {
                    margin: $g 0 0 0;
                }
            }
        }
    }
}