// 
// 
// 
// 
body.page-clients {
    section.block__content_grid {

        .container>div {

            // override the defaults for the flexgrid
            &.flexgrid.cols-2{
                @include flexboxGrid($cols: 2, $gutter: 90px, $align: flex-start, $justify: flex-start, $grow : 1, $shrink: 0);
                @media screen and (max-width: 960px){}
                @media screen and (max-width: 640px){
                    @include flexboxGrid($cols: 1, $gutter: 90px, $align: flex-start, $justify: flex-start, $grow : 1, $shrink: 0);
                }
            }


            >ul {
                // 
                $g: getVar($sizing, gutter, px, normal);

                >hr {
                    margin: 0px auto 30px auto;
                    position: relative;
                }

                >li {
                    // 
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    // transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1), opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
                    padding: $g;
                    text-align: left;
                    
                    
                    // Card Styles:
                    // background-color:rgba(getVar($pallete, basic, white), 1);
                    @include boxshadow(1);
                    transition: all 1s ease-in-out;

                    // 
                    >.info {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: space-between;

                        >div {
                            flex: 0 1 40%;

                            .name {
                                font-size: 2.4rem;
                                font-weight: 400;
                            }

                            .funding {}
                        }

                        >.bgimage {
                            // min-width: 120px;
                            @include aspectRatio(16, 9);
                            margin: 0 0 0 $g;

                            >.bgimage-img {
                                background-color: transparent;
                                background-size: contain;
                            }
                        }

                        // 
                        // !!!
                        @media screen and (max-width: 960px) {
                            // !!!
                            // 
                            flex-flow: column nowrap;
                            align-items: center;

                            >div {
                                $g : getVar($sizing, gutter, px, small);
                                &.bgimage{
                                    flex: 0 1 auto;
                                    margin: $g 0 0 0;
                                    width: (100% / 3);
                                }
                                &:not(.bgimage){
                                    margin: $g 0 0 0;
                                    flex: 0 1 auto;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    // 
                    >.details {
                        margin: $g 0 0 0;

                    }

                    >.category {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: rgba(getVar($pallete, brand, main), 1);
                        color: white;
                        padding: 10px 30px;
                        font-weight: 400;
                        transform: translateY(-50%);
                        @include boxshadow(1);

                        margin: 0 0 $g 0;

                        >span {
                            text-transform: uppercase;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}