// 
@import '../../__pre/_sass/site/vars';
@import '../../__pre/_sass/site/mixins';

// 
.site__block.block__heading {

    + .site__block {
        margin-top: 5vw;
    }

    >.container {
        $g: getVar($sizing, gutter, px, normal);

        
        > h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
        > p {
            margin: $g 0 0 0;
        }
    }


}