@media only screen {



    body.page-template.home {

        section:nth-of-type(2){
            padding: 60px 0;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            >h2 {
                @include font-display-sm;
                margin: 20px auto;
                padding: 5px 0;
                border-bottom: 2px solid $colors-green;
            }
        }
        
    }
    
    
}