@media only screen {

    // general footer styling
    footer {
        display: inline-block;
        width: 100%;
        background-color: $colors_grey-dark;
        color: $colors_grey-light;
        text-align: center;
        ul {
            list-style-type: none;
        }
    }

    // footer columns wrapper
    $cols : 4;
    footer > ul.footergrid {
        margin: $gutter auto;
        width: $content_width;
        display: flex;
        flex-flow: row nowrap;
        > li {
            display: inline-block;
            margin: 0 auto;
            margin-right: $gutter;
            width: ($content_width / ($cols - 1)) - ($gutter * ($cols - 1) );
            text-align: left;
            &:last-of-type{
                margin-right: 0;
            }

            > ul > li {
                
                > h4 {
                    border-bottom: 1px solid $colors_grey-light;
                    text-transform: uppercase;
                    text-align: center;
                    font-family: 'Lato';
                    padding: ($gutter / 2) 0;
                }
                > a {
                    display: inline-block;
                    line-height: 1.25;    
                    margin-bottom: ($gutter / 2);
                    > i.fa, > span {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    > i.fa {
                        margin-right: ($gutter / 2);
                    }
                }
            }
        }
    }
    

    // copyright bar
    footer > div {
        display: block;
        background-color: darken($colors_grey-dark, 10);
        text-align: center;
        > small {
            display: inline-block;
            padding: 5px;
            margin: 5px;
            letter-spacing: 1px;
        }
    }
    
    
}