@media only screen {

    footer {
        background-color: $colors_grey-dark;
        color: $colors_grey-light;
        text-align: center;
    }

    footer > section {
        margin: 40px auto;
        width: 80%;
        display: inline-block;
        ul {
            list-style-type: none;
        }

        &:first-of-type{
            > h1, > h3, > p {
                margin-bottom: $gutter;
            }
            > h1 {
                text-transform: uppercase;
                font-size: 3.2rem;
                font-weight: 300;
            }
        }

        &:last-of-type {
            > ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
            > ul > li {
                display: inline-block;
                margin: 0 auto $gutter;
                text-align: left;
                > ul > li:first-of-type {
                    text-align: center;
                    border-bottom: 1px solid $colors_grey-light;
                    >h4 {
                        padding: 10px;
                        text-transform: uppercase;
                    }
                }
                > ul > li {
                    margin-bottom: $gutter;
                    > a {
                        letter-spacing: 1px;
                        line-height: 1.6;
                        > .fa {
                            margin-right: 10px;
                            font-size: 1.8rem;
                        }
                        > span, > .fa {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    
    footer > div {
        display: block;
        background-color: darken($colors_grey-dark, 10);
        text-align: center;
        > small {
            display: inline-block;
            padding: 5px;
            margin: 5px;
            letter-spacing: 1px;
        }
    }
    
    
}