@charset "UTF-8";
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../../node_modules/magnific-popup/dist/magnific-popup.css';
.anim__fade {
  opacity: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateY(0);
}

.anim__fade-in,
.anim__fade-up,
.anim__fade-left,
.anim__fade-right {
  opacity: 0;
}

.anim__fade-left {
  transform: translateX(-100px);
}

.anim__fade-right {
  transform: translateX(100px);
}

.anim__fade-up {
  transform: translateY(100px);
}

@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-Light.woff2") format("woff2"), url("../../library/fonts/JosefinSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../../library/fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-SemiBold.woff2") format("woff2"), url("../../library/fonts/EBGaramond-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-Italic.woff2") format("woff2"), url("../../library/fonts/JosefinSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-BoldItalic.woff2") format("woff2"), url("../../library/fonts/JosefinSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-Bold.woff2") format("woff2"), url("../../library/fonts/EBGaramond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-LightItalic.woff2") format("woff2"), url("../../library/fonts/Lato-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../../library/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-Italic.woff2") format("woff2"), url("../../library/fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-BoldItalic.woff2") format("woff2"), url("../../library/fonts/EBGaramond-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-MediumItalic.woff2") format("woff2"), url("../../library/fonts/EBGaramond-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-ExtraBoldItalic.woff2") format("woff2"), url("../../library/fonts/EBGaramond-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Black.woff2") format("woff2"), url("../../library/fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-BlackItalic.woff2") format("woff2"), url("../../library/fonts/Lato-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Bold.woff2") format("woff2"), url("../../library/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-ThinItalic.woff2") format("woff2"), url("../../library/fonts/JosefinSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-Light.woff2") format("woff2"), url("../../library/fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-BoldItalic.woff2") format("woff2"), url("../../library/fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-Regular.woff2") format("woff2"), url("../../library/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-SemiBoldItalic.woff2") format("woff2"), url("../../library/fonts/EBGaramond-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Thin.woff2") format("woff2"), url("../../library/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-SemiBold.woff2") format("woff2"), url("../../library/fonts/JosefinSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Light.woff2") format("woff2"), url("../../library/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Medium.woff2") format("woff2"), url("../../library/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-Regular.woff2") format("woff2"), url("../../library/fonts/JosefinSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Italic.woff2") format("woff2"), url("../../library/fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-Regular.woff2") format("woff2"), url("../../library/fonts/EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-Black.woff2") format("woff2"), url("../../library/fonts/Lato-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-LightItalic.woff2") format("woff2"), url("../../library/fonts/JosefinSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-Italic.woff2") format("woff2"), url("../../library/fonts/EBGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../library/fonts/Lato-Bold.woff2") format("woff2"), url("../../library/fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-Regular.woff2") format("woff2"), url("../../library/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-Thin.woff2") format("woff2"), url("../../library/fonts/JosefinSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-Bold.woff2") format("woff2"), url("../../library/fonts/JosefinSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../../library/fonts/Lato-HairlineItalic.woff2") format("woff2"), url("../../library/fonts/Lato-HairlineItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato Hairline";
  src: url("../../library/fonts/Lato-Hairline.woff2") format("woff2"), url("../../library/fonts/Lato-Hairline.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../../library/fonts/JosefinSans-SemiBoldItalic.woff2") format("woff2"), url("../../library/fonts/JosefinSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-Medium.woff2") format("woff2"), url("../../library/fonts/EBGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../../library/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../library/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../../library/fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../library/fonts/EBGaramond-ExtraBold.woff2") format("woff2"), url("../../library/fonts/EBGaramond-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@media only screen {
  html,
body {
    width: 100%;
    height: 100%;
  }

  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }

  html {
    font-size: 62.5%;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
    display: block;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    box-sizing: border-box;
  }

  *,
*:before,
*:after {
    box-sizing: inherit;
  }
}
.bgimg {
  position: relative;
  overflow: hidden;
}

.bgimg-img {
  display: block;
  transition: all 0.25s ease;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgimg .bgimg-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease;
}
.bgimg.bgimg-zooms:hover .bgimg-img, .bgimg.bgimg-zooms:active .bgimg-img, .bgimg.bgimg-zooms:focus .bgimg-img {
  transform: scale(1.25);
}

.logo.logo--image {
  height: 100%;
  padding: 15px;
}
.logo.logo--image img {
  height: 100%;
}
.logo.logo--text {
  color: #ECEBEA;
  letter-spacing: 1px;
  font-size: 2rem;
  border-bottom: 2px solid transparent;
  font-weight: 400;
  font-family: "Montserrat", serif;
}
.logo.logo--text:hover, .logo.logo--text:focus, .logo.logo--text:active {
  border-bottom: 2px solid #C5707A;
  border-bottom: 2px solid #7E5B7F;
}

.site__social-media {
  margin: 0 15px 0 0;
}

ul.iconlinks {
  display: flex;
  flex-flow: row wrap;
}
ul.iconlinks li.iconlinks-icon {
  margin: 0 15px 15px 0;
}
ul.iconlinks li.iconlinks-icon:last-of-type {
  margin: 0 0 15px 0;
}
ul.iconlinks li.iconlinks-icon .fab {
  font-size: 24px;
  transform: scale(1);
}
ul.iconlinks li.iconlinks-icon > a {
  display: block;
}

a {
  text-decoration: none;
}

figure {
  position: relative;
  overflow: hidden;
}

img {
  object-fit: cover;
  height: auto;
  margin: 0 auto;
}

blockquote {
  border-left: 1px solid #000;
  padding-left: 15px;
  text-align: left;
}

hr,
br {
  width: 100%;
  line-height: 0;
  font-size: 0;
  margin: 0 0 30px 0;
}

hr {
  border: none;
  border-bottom: 2px solid rgba(55, 56, 51, 0.1);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
h1.display,
h2.display,
h3.display,
h4.display,
h5.display,
h6.display {
  font-weight: 300;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  background-color: #ECEBEA;
}
body > main {
  flex: 1;
  margin: 0;
}
body > main > section {
  display: block;
}
body > main > section:not(.hero):not(:last-of-type) {
  margin: 90px 0 0 0;
}
body.js__noscroll {
  overflow: hidden;
}
body:not(.header-fadein) > main {
  margin-top: 72px;
}

header > .container,
section.hero > .container,
footer > .container {
  margin: 0 auto;
}
header > .container.full,
section.hero > .container.full,
footer > .container.full {
  width: 100%;
}
header > .container.wide,
section.hero > .container.wide,
footer > .container.wide {
  width: 80%;
}
header > .container.normal,
section.hero > .container.normal,
footer > .container.normal {
  width: 65%;
}
header > .container.narrow,
section.hero > .container.narrow,
footer > .container.narrow {
  width: 50%;
}

section.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
section.hero:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: background 0.3s ease;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
section.hero > .container {
  position: relative;
  z-index: 1;
  height: calc(50vh - 72px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: left;
  color: #ecebea;
}
section.hero > .container > h1 {
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 0 0 30px 0;
  font-size: 8rem;
  line-height: 1.25;
}
@media only screen and (max-width: 1280px) {
  section.hero > .container > h1 {
    font-size: 6.4rem;
  }
}
@media only screen and (max-width: 960px) {
  section.hero > .container > h1 {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 640px) {
  section.hero > .container > h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 480px) {
  section.hero > .container > h1 {
    font-size: 2rem;
  }
}
section.hero > .container > div > p {
  font-size: 2.8rem;
  line-height: 1.25;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

body.home section.hero > .container {
  height: calc(90vh - 72px);
}

header.header {
  display: block;
  width: 100%;
  height: 72px;
  background-color: #ecebea;
}
header.header > .container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
header.header.fixed {
  position: fixed;
  z-index: 99;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: rgba(236, 235, 234, 0);
  transition: background-color 0.4s ease-in-out;
}
header.header.fixed.fadein.bg__fade-in {
  background-color: rgba(25, 25, 25, 0.9);
}
body.header-fadein header.header.fixed.fadein {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.popup {
  background-color: #ecebea;
  padding: 60px;
  margin: 5vh auto;
  width: 65%;
}
.popup > .container > section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 30px 0;
}
.popup > .container > section > div {
  flex: 0 1 auto;
  width: calc(50% - (30px / 2));
}
.popup > .container > section > div:last-child {
  margin-left: 30px;
}
.popup > .container .bgimg .bgimg-img {
  position: relative;
}
.popup > .container .bgimg .bgimg-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}

footer {
  margin: 0;
  background-color: #191919;
  color: #ECEBEA;
  padding: 30px 0;
}
footer .container {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0;
  justify-content: space-between;
}
footer .container > section {
  flex: 1 0 calc(25% - 30px);
  margin: 0 30px 30px 0;
}
footer .container > section a {
  display: block;
  white-space: nowrap;
  color: #ECEBEA;
}
footer .container > section a > span {
  display: inline-block;
  padding: 0 5px 2px 5px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  position: relative;
}
footer .container > section a > span:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.25s ease;
  height: 0;
  border-bottom: 2px solid #7E5B7F;
}
footer .container > section a:hover > span:before, footer .container > section a:focus > span:before, footer .container > section a:active > span:before {
  width: 100%;
}
footer .container > section:last-of-type {
  margin: 0 0 30px 0;
}
footer .container > section .logo.logo--text,
footer .container > section h4 {
  color: #ECEBEA;
  border-bottom: 1px solid #ECEBEA;
  margin: 0 auto 15px auto;
  padding: 0 0 2px 0;
}
footer .address > div {
  margin: 5px 0;
}
footer .footer-contactus i, footer .footer-contactus span {
  display: inline-block;
  vertical-align: middle;
}
footer .footer-contactus .fab {
  font-size: 2rem;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
footer .iconlinks {
  padding: 15px 0;
}
footer .iconlinks > li > a {
  color: #ECEBEA;
}
footer .iconlinks > li > a:hover, footer .iconlinks > li > a:focus, footer .iconlinks > li > a:active {
  color: #7E5B7F;
}
footer .iconlinks > li > a .fab {
  font-size: 2.4rem;
}

@media only screen and (max-width: 1280px) {
  footer .container > section {
    flex: 1 0 calc(50% - 30px);
  }
}
@media only screen and (max-width: 960px) {
  footer .container > section {
    margin: 0 0 30px 0;
    flex: 1 0 auto;
    width: 100%;
  }
}
header .navlinks > ul {
  display: flex;
  flex-flow: row nowrap;
}
header .navlinks > ul li.active > a > span:before, header .navlinks > ul li.active-ancestor > a > span:before, header .navlinks > ul li.active-parent > a > span:before {
  width: 100%;
}
header .navlinks > ul li a {
  display: block;
  white-space: nowrap;
  color: #ECEBEA;
}
header .navlinks > ul li a > span {
  display: inline-block;
  padding: 0 5px 2px 5px;
  font-size: 1.6rem;
  line-height: 2.8rem;
  position: relative;
}
header .navlinks > ul li a > span:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.25s ease;
  height: 0;
  border-bottom: 2px solid #7E5B7F;
}
header .navlinks > ul li a:hover > span:before, header .navlinks > ul li a:focus > span:before, header .navlinks > ul li a:active > span:before {
  width: 100%;
}
header .navlinks > ul li.parent {
  position: relative;
}
header .navlinks > ul li.parent .sub-menu {
  display: none;
}
header .navlinks > ul li.parent > a > span {
  position: relative;
  padding-right: 15px;
}
header .navlinks > ul li.parent > a > span:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  font-size: 1rem;
  top: 50%;
  right: 0;
  transform: translate(0, -50%) rotate(0deg);
  transition: all 0.25s ease;
}
header .navlinks > ul li.parent:hover > a > span:after, header .navlinks > ul li.parent:focus > a > span:after, header .navlinks > ul li.parent:active > a > span:after {
  transform: translate(0, -50%) rotate(180deg);
  color: #7E5B7F;
}
header .navlinks > ul li.parent:hover > .sub-menu, header .navlinks > ul li.parent:focus > .sub-menu, header .navlinks > ul li.parent:active > .sub-menu {
  display: flex;
}
header .navlinks > ul li.parent:last-child {
  margin: 0 0 0 0;
}
header .navlinks > ul > li {
  margin: 0 15px 0 0;
}
header .navlinks > ul > li:last-of-type {
  margin: 0 0 0 0;
}
@media screen and (min-width: 961px) {
  header .navlinks > ul > a {
    line-height: 72px;
  }
  header .navlinks > ul .sub-menu {
    flex-flow: column nowrap;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 9;
    border: 1px solid rgba(25, 25, 25, 0.5);
    background-color: rgba(25, 25, 25, 0.6666666667);
    border: 1px solid rgba(236, 235, 234, 0.5);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  header .navlinks > ul .sub-menu > li {
    padding: 7.5px 0;
  }
  header .navlinks > ul .sub-menu > li > a {
    padding: 0 15px;
  }
  header .navlinks > ul .sub-menu .sub-menu {
    top: 0;
    right: 100%;
  }
}

header.fixed.fadein .navlinks > ul > li > a {
  color: #ffffff;
}

header .navicons {
  display: none;
}

@media only screen and (max-width: 960px) {
  header > .container .navlinks {
    display: none;
  }
  header > .container .navicons {
    display: block;
    padding: 5px;
  }
  header > .container .navicons > i.fas.fa-times {
    display: none;
  }
  header > .container .navicons > i.fas.fa-bars {
    display: block;
  }
  header > .container.mobilenav-opened .navicons > i.fas {
    color: #7E5B7F;
  }
  header > .container.mobilenav-opened .navicons > i.fas.fa-times {
    display: block;
  }
  header > .container.mobilenav-opened .navicons > i.fas.fa-bars {
    display: none;
  }
  header > .container.mobilenav-opened .navlinks {
    display: block;
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: calc(100% - 72px);
    background-color: rgba(25, 25, 25, 0.5);
  }
  header > .container.mobilenav-opened .navlinks > ul.menu {
    background-color: #ecebea;
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border: 1px solid rgba(25, 25, 25, 0.5);
  }
  header > .container.mobilenav-opened .navlinks > ul.menu > li {
    margin: 15px 0 0 0;
  }
  header > .container.mobilenav-opened .navlinks > ul.menu > li:last-child {
    margin: 15px 0;
  }
  header > .container.mobilenav-opened .navlinks > ul.menu .sub-menu {
    display: flex;
    flex-flow: column nowrap;
    display: flex;
    margin-left: 30px;
  }
  header > .container.mobilenav-opened .navlinks > ul.menu .sub-menu > li {
    display: block;
  }
}
.card {
  display: flex;
  flex-flow: row nowrap;
  background-color: #ecebea;
  align-items: center;
  justify-content: center;
}
.card > div {
  flex: 0 1 auto;
}
.card > div.content {
  padding-left: 30px;
  width: calc(50% - 30px);
}
.card > div.bgimg {
  margin-left: 30px;
  width: 50%;
}

.site__block {
  margin: 90px 0 0 0;
  width: 100%;
}
.site__block:first-of-type:not(:last-of-type) {
  margin: 0 0 0 0;
}
.site__block > .container {
  margin: 0 auto;
}
.site__block > .container.full {
  width: 100%;
}
.site__block > .container.wide {
  width: 80%;
}
.site__block > .container.normal {
  width: 65%;
}
.site__block > .container.narrow {
  width: 50%;
}
.site__block > .container > .block-heading,
.site__block > .container > .block-subheading {
  text-align: center;
  margin: 0 0 60px 0;
}

@media only screen and (max-width: 1280px) {
  .site__block {
    padding: 0 15px;
  }
  .site__block > .container {
    margin: 0 auto;
  }
  .site__block > .container.narrow {
    width: 65%;
  }
}
@media only screen and (max-width: 640px) {
  .site__block {
    padding: 0 15px;
  }
  .site__block > .container {
    margin: 0 auto;
  }
  .site__block > .container.full {
    width: 100%;
  }
  .site__block > .container.wide {
    width: 100%;
  }
  .site__block > .container.normal {
    width: 100%;
  }
  .site__block > .container.narrow {
    width: 100%;
  }
}
.site__block.block__image > .container > img {
  width: 100%;
}

.block__content_grid > .container {
  text-align: center;
}
.block__content_grid > .container > h2 {
  margin: 0 0 15px 0;
}
.block__content_grid > .container > div {
  margin: 0 0 60px 0;
}
.block__content_grid > .container > .flexgrid {
  margin: 30px 0;
}

.site__block.block__columns > .container > .flexgrid > ul > li > .site__block {
  margin: 0;
}

section.block__copy ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
section.block__copy ul ul {
  list-style-type: circle;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
section.block__copy ul ul ul {
  list-style-type: square;
}

.flexgrid.cols-1 > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.flexgrid.cols-1 > ul.left {
  justify-content: flex-start;
}
.flexgrid.cols-1 > ul.center {
  justify-content: center;
}
.flexgrid.cols-1 > ul.right {
  justify-content: flex-end;
}
.flexgrid.cols-1 > ul > li {
  display: inline-block;
  width: calc((100% - (1 - 1) * 30px) / 1);
  flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
  margin: 0 30px 30px 0;
  flex: 1 0 100%;
  margin: 0 0 30px 0;
}
.flexgrid.cols-1 > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
.flexgrid.cols-1 > ul > li:nth-child(1n) {
  margin-right: 0;
}
.flexgrid.cols-1 > ul > li:last-child {
  margin-right: 0;
}
.flexgrid.cols-1 > ul > li:last-child {
  margin: 0 0 0 0;
}
.flexgrid.cols-2 > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.flexgrid.cols-2 > ul.left {
  justify-content: flex-start;
}
.flexgrid.cols-2 > ul.center {
  justify-content: center;
}
.flexgrid.cols-2 > ul.right {
  justify-content: flex-end;
}
.flexgrid.cols-2 > ul > li {
  display: inline-block;
  width: calc((100% - (2 - 1) * 30px) / 2);
  flex: 0 0 calc((100% - (2 - 1) * 30px) / 2);
  margin: 0 30px 30px 0;
}
.flexgrid.cols-2 > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
.flexgrid.cols-2 > ul > li:nth-child(2n) {
  margin-right: 0;
}
.flexgrid.cols-2 > ul > li:last-child {
  margin-right: 0;
}
.flexgrid.cols-3 > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.flexgrid.cols-3 > ul.left {
  justify-content: flex-start;
}
.flexgrid.cols-3 > ul.center {
  justify-content: center;
}
.flexgrid.cols-3 > ul.right {
  justify-content: flex-end;
}
.flexgrid.cols-3 > ul > li {
  display: inline-block;
  width: calc((100% - (3 - 1) * 30px) / 3);
  flex: 0 0 calc((100% - (3 - 1) * 30px) / 3);
  margin: 0 30px 30px 0;
}
.flexgrid.cols-3 > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
.flexgrid.cols-3 > ul > li:nth-child(3n) {
  margin-right: 0;
}
.flexgrid.cols-3 > ul > li:last-child {
  margin-right: 0;
}
.flexgrid.cols-4 > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.flexgrid.cols-4 > ul.left {
  justify-content: flex-start;
}
.flexgrid.cols-4 > ul.center {
  justify-content: center;
}
.flexgrid.cols-4 > ul.right {
  justify-content: flex-end;
}
.flexgrid.cols-4 > ul > li {
  display: inline-block;
  width: calc((100% - (4 - 1) * 30px) / 4);
  flex: 0 0 calc((100% - (4 - 1) * 30px) / 4);
  margin: 0 30px 30px 0;
}
.flexgrid.cols-4 > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
.flexgrid.cols-4 > ul > li:nth-child(4n) {
  margin-right: 0;
}
.flexgrid.cols-4 > ul > li:last-child {
  margin-right: 0;
}
.flexgrid.cols-5 > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.flexgrid.cols-5 > ul.left {
  justify-content: flex-start;
}
.flexgrid.cols-5 > ul.center {
  justify-content: center;
}
.flexgrid.cols-5 > ul.right {
  justify-content: flex-end;
}
.flexgrid.cols-5 > ul > li {
  display: inline-block;
  width: calc((100% - (5 - 1) * 30px) / 5);
  flex: 0 0 calc((100% - (5 - 1) * 30px) / 5);
  margin: 0 30px 30px 0;
}
.flexgrid.cols-5 > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
.flexgrid.cols-5 > ul > li:nth-child(5n) {
  margin-right: 0;
}
.flexgrid.cols-5 > ul > li:last-child {
  margin-right: 0;
}
.flexgrid.cols-6 > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.flexgrid.cols-6 > ul.left {
  justify-content: flex-start;
}
.flexgrid.cols-6 > ul.center {
  justify-content: center;
}
.flexgrid.cols-6 > ul.right {
  justify-content: flex-end;
}
.flexgrid.cols-6 > ul > li {
  display: inline-block;
  width: calc((100% - (6 - 1) * 30px) / 6);
  flex: 0 0 calc((100% - (6 - 1) * 30px) / 6);
  margin: 0 30px 30px 0;
}
.flexgrid.cols-6 > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
.flexgrid.cols-6 > ul > li:nth-child(6n) {
  margin-right: 0;
}
.flexgrid.cols-6 > ul > li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 960px) {
  .flexgrid.cols-3 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-3 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-3 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-3 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-3 > ul > li {
    display: inline-block;
    width: calc((100% - (2 - 1) * 30px) / 2);
    flex: 0 0 calc((100% - (2 - 1) * 30px) / 2);
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-3 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-3 > ul > li:nth-child(2n) {
    margin-right: 0;
  }
  .flexgrid.cols-3 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-4 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-4 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-4 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-4 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-4 > ul > li {
    display: inline-block;
    width: calc((100% - (2 - 1) * 30px) / 2);
    flex: 0 0 calc((100% - (2 - 1) * 30px) / 2);
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-4 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-4 > ul > li:nth-child(2n) {
    margin-right: 0;
  }
  .flexgrid.cols-4 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-5 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-5 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-5 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-5 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-5 > ul > li {
    display: inline-block;
    width: calc((100% - (2 - 1) * 30px) / 2);
    flex: 0 0 calc((100% - (2 - 1) * 30px) / 2);
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-5 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-5 > ul > li:nth-child(2n) {
    margin-right: 0;
  }
  .flexgrid.cols-5 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-6 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-6 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-6 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-6 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-6 > ul > li {
    display: inline-block;
    width: calc((100% - (2 - 1) * 30px) / 2);
    flex: 0 0 calc((100% - (2 - 1) * 30px) / 2);
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-6 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-6 > ul > li:nth-child(2n) {
    margin-right: 0;
  }
  .flexgrid.cols-6 > ul > li:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 640px) {
  .flexgrid.cols-1 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-1 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-1 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-1 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-1 > ul > li {
    display: inline-block;
    width: calc((100% - (1 - 1) * 30px) / 1);
    flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
    margin: 0 30px 30px 0;
    flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
  .flexgrid.cols-1 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-1 > ul > li:nth-child(1n) {
    margin-right: 0;
  }
  .flexgrid.cols-1 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-1 > ul > li:last-child {
    margin: 0 0 0 0;
  }
  .flexgrid.cols-2 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-2 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-2 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-2 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-2 > ul > li {
    display: inline-block;
    width: calc((100% - (1 - 1) * 30px) / 1);
    flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
    margin: 0 30px 30px 0;
    flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
  .flexgrid.cols-2 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-2 > ul > li:nth-child(1n) {
    margin-right: 0;
  }
  .flexgrid.cols-2 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-2 > ul > li:last-child {
    margin: 0 0 0 0;
  }
  .flexgrid.cols-3 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-3 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-3 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-3 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-3 > ul > li {
    display: inline-block;
    width: calc((100% - (1 - 1) * 30px) / 1);
    flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
    margin: 0 30px 30px 0;
    flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
  .flexgrid.cols-3 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-3 > ul > li:nth-child(1n) {
    margin-right: 0;
  }
  .flexgrid.cols-3 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-3 > ul > li:last-child {
    margin: 0 0 0 0;
  }
  .flexgrid.cols-4 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-4 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-4 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-4 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-4 > ul > li {
    display: inline-block;
    width: calc((100% - (1 - 1) * 30px) / 1);
    flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
    margin: 0 30px 30px 0;
    flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
  .flexgrid.cols-4 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-4 > ul > li:nth-child(1n) {
    margin-right: 0;
  }
  .flexgrid.cols-4 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-4 > ul > li:last-child {
    margin: 0 0 0 0;
  }
  .flexgrid.cols-5 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-5 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-5 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-5 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-5 > ul > li {
    display: inline-block;
    width: calc((100% - (1 - 1) * 30px) / 1);
    flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
    margin: 0 30px 30px 0;
    flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
  .flexgrid.cols-5 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-5 > ul > li:nth-child(1n) {
    margin-right: 0;
  }
  .flexgrid.cols-5 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-5 > ul > li:last-child {
    margin: 0 0 0 0;
  }
  .flexgrid.cols-6 > ul {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
  }
  .flexgrid.cols-6 > ul.left {
    justify-content: flex-start;
  }
  .flexgrid.cols-6 > ul.center {
    justify-content: center;
  }
  .flexgrid.cols-6 > ul.right {
    justify-content: flex-end;
  }
  .flexgrid.cols-6 > ul > li {
    display: inline-block;
    width: calc((100% - (1 - 1) * 30px) / 1);
    flex: 0 0 calc((100% - (1 - 1) * 30px) / 1);
    margin: 0 30px 30px 0;
    flex: 1 0 100%;
    margin: 0 0 30px 0;
  }
  .flexgrid.cols-6 > ul > li:nth-child(n+1) {
    margin: 0 30px 30px 0;
  }
  .flexgrid.cols-6 > ul > li:nth-child(1n) {
    margin-right: 0;
  }
  .flexgrid.cols-6 > ul > li:last-child {
    margin-right: 0;
  }
  .flexgrid.cols-6 > ul > li:last-child {
    margin: 0 0 0 0;
  }
}
section.practice_area > div.container.normal {
  width: 65%;
  margin: 0 auto;
}

.flexgrid ul.practice_areas .grid_item + hr {
  margin: 0 0 90px 0;
}
.flexgrid ul.practice_areas .grid_item > a {
  color: #191919;
}
.flexgrid ul.practice_areas .grid_item:nth-child(n+1), .flexgrid ul.practice_areas .grid_item:nth-child(1n) {
  margin: 0 0 90px 0;
}
.flexgrid ul.practice_areas .grid_item:nth-child(n+1):last-of-type, .flexgrid ul.practice_areas .grid_item:nth-child(1n):last-of-type {
  margin: 0 0 0 0;
}
.flexgrid ul.practice_areas .grid_item:nth-child(n+1):last-of-type + hr, .flexgrid ul.practice_areas .grid_item:nth-child(1n):last-of-type + hr {
  display: none;
}
.flexgrid ul.practice_areas .grid_item .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.flexgrid ul.practice_areas .grid_item .card .bgimg {
  width: 50%;
  position: relative;
}
.flexgrid ul.practice_areas .grid_item .card .bgimg:before {
  content: "";
  display: block;
  padding-top: 75%;
}
.flexgrid ul.practice_areas .grid_item .card .bgimg .bgimg-img {
  position: relative;
}
.flexgrid ul.practice_areas .grid_item .card .bgimg .bgimg-img:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.66) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: background 0.3s ease;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.flexgrid ul.practice_areas .grid_item .card:hover, .flexgrid ul.practice_areas .grid_item .card:focus, .flexgrid ul.practice_areas .grid_item .card:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.flexgrid ul.practice_areas .grid_item .card:hover .bgimg .bgimg-img, .flexgrid ul.practice_areas .grid_item .card:focus .bgimg .bgimg-img, .flexgrid ul.practice_areas .grid_item .card:active .bgimg .bgimg-img {
  position: relative;
}
.flexgrid ul.practice_areas .grid_item .card:hover .bgimg .bgimg-img:after, .flexgrid ul.practice_areas .grid_item .card:focus .bgimg .bgimg-img:after, .flexgrid ul.practice_areas .grid_item .card:active .bgimg .bgimg-img:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.33) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.33) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.33) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: background 0.3s ease;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.flexgrid ul.practice_areas .grid_item:nth-of-type(even) .card {
  text-align: right;
}
.flexgrid ul.practice_areas .grid_item:nth-of-type(even) .card > .content {
  padding: 0;
  padding-right: 90px;
  order: 2;
}
.flexgrid ul.practice_areas .grid_item:nth-of-type(even) .card > .bgimg {
  margin: 0;
  margin-right: 30px;
}

body.page-template-template-clients section.clients .flexgrid > ul {
  align-items: center;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client {
  position: relative;
  cursor: pointer;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client > div:first-child {
  display: flex;
  flex-flow: row wrap;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client > div:first-child > .bgimg {
  width: 33.3333333333%;
  width: 50%;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client > div:first-child > .bgimg .bgimg-img {
  position: relative;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client > div:first-child > .bgimg .bgimg-img:before {
  content: "";
  display: block;
  padding-top: 100%;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client > div:first-child > div:not(.bgimg) {
  width: 50%;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client > div:not(:first-child) {
  display: none;
  padding: 15px;
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client.active:after {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client:hover > div:first-child .bgimg-img {
  transform: scale(1.2);
}
body.page-template-template-clients section.clients .flexgrid > ul > li.client:nth-child(even) {
  margin-top: 120px;
}
section.testimonials hr {
  margin: 90px 0;
}
section.testimonials .testimonial {
  padding: 30px 0 0 0;
}
section.testimonials .testimonial > div:first-child {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 15px 0;
}
section.testimonials .testimonial > div:first-child > span {
  display: block;
  font-size: 3rem;
  margin: 0 15px 0 0;
}
section.testimonials .testimonial > div:first-child > blockquote {
  padding: 5px 0 5px 15px;
  border-left: 4px solid #8ecdca;
  border-left: 4px solid #c5707a;
}
section.testimonials .testimonial > div:first-child > span + blockquote {
  width: 80%;
}
section.testimonials .testimonial > div:last-child {
  text-align: right;
}
section.testimonials .testimonial > div:last-child > h4 {
  letter-spacing: 1px;
  font-weight: 400;
}
section.testimonials .testimonial > div:last-child > h6 {
  font-style: italic;
  font-weight: normal;
}

body.page-our-team div.flexgrid > ul.team_members > li.grid_item {
  padding: 15px;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a {
  color: #191919;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a .bgimg {
  margin: 0 0 15px 0;
  border-radius: 50%;
  position: relative;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a .bgimg:before {
  content: "";
  display: block;
  padding-top: 100%;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a > div:not(.bgimg) p:first-of-type {
  display: inline-block;
  padding: 0 30px 5px 0;
  font-size: 2rem;
  font-weight: 400;
  position: relative;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a > div:not(.bgimg) p:first-of-type:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.25s ease;
  height: 0;
  border-bottom: 2px solid #7E5B7F;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a > div:not(.bgimg) p:first-of-type:before {
  width: 30px;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a > div:not(.bgimg) p:last-of-type {
  font-size: 1.6rem;
  font-style: italic;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a > div:not(.bgimg) p i.fas {
  margin-right: 5px;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a:hover > div:not(.bgimg) p:first-of-type:before {
  width: 100%;
}
body.page-our-team div.flexgrid > ul.team_members > li.grid_item > a:hover p:last-of-type {
  color: #7E5B7F;
}
#flexzach .container > ul {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}
#flexzach .container > ul.left {
  justify-content: flex-start;
}
#flexzach .container > ul.center {
  justify-content: center;
}
#flexzach .container > ul.right {
  justify-content: flex-end;
}
#flexzach .container > ul > li {
  display: inline-block;
  width: calc((100% - (3 - 1) * 30px) / 3);
  flex: 0 0 calc((100% - (3 - 1) * 30px) / 3);
  margin: 0 30px 30px 0;
}
#flexzach .container > ul > li:nth-child(n+1) {
  margin: 0 30px 30px 0;
}
#flexzach .container > ul > li:nth-child(3n) {
  margin-right: 0;
}
#flexzach .container > ul > li:last-child {
  margin-right: 0;
}
#flexzach .container > .flexbox-parent {
  background-color: rgba(128, 128, 128, 0.2);
}
#flexzach .container > .flexbox-parent > .flexbox-child {
  background-color: rgba(0, 0, 0, 0.2);
}
#flexzach .container > .flexbox-parent > .flexbox-child:nth-child(odd) {
  background-color: rgba(0, 0, 255, 0.2);
}

/*# sourceMappingURL=main.css.map */