// 
@import '../../__pre/_sass/site/vars';
@import '../../__pre/_sass/site/mixins';
// 
.site__block.block__columns {


    >.container {
        $g : getVar($sizing, gutter, px, normal);

        > .flexgrid {
            margin: (2 * $g) 0 -#{$g} 0;
            > ul {
                > li {
                    > .site__block {
                        margin: $g 0 0 0;
                        &:first-of-type {
                            margin: 0 0 0 0;
                        }
                        .flexgrid {
                            margin: 0;
                        }
                    }
                }
            }
        }

    }


}