// 
.anim__fade {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
    transform: translateY(0);
}
.anim__fade-in,
.anim__fade-up,
.anim__fade-left,
.anim__fade-right {
    opacity: 0;
}

.anim__fade-left {
    transform: translateX(-100px);
}

.anim__fade-right {
    transform: translateX(100px);
}

.anim__fade-up {
    transform: translateY(100px);
}