a {
    text-decoration: none;
}

figure {
    position: relative;
    overflow: hidden;
}

img {
    object-fit: cover;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #000;
    padding-left: getVar($sizing, gutter, px, small);
    text-align: left;
}

hr,
br {
    width: 100%;
    line-height: 0;
    font-size: 0;
    margin: 0 0 getVar($sizing, gutter, px, normal) 0;
}

hr {
    border: none;
    border-bottom: 2px solid rgba(getVar($colors, black, dark), 0.1);
}

ul {
    list-style-type: none;
}

// heading fonts
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 1.5rem 0 0 0;
    &:first-child { margin: 0; }
    &.display {
        font-weight: 300;
    }
}

// size headings
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    margin: getVar($sizing, gutter, px, normal) 0 0 0;
    &:first-child {
        margin: 0;
    }
}

// 
// 
// 
body {
    // basic styling for fonts
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    // flex align the footer to the bottom
    display: flex;
    flex-flow: column nowrap;
    // hide overflow
    overflow-x: hidden;
    // bgc

    >main {
        flex: 1;
        margin: 0;

        >section {
            display: block;
            // all sections push themselves down; except the hero
            &:not(.hero) {
                margin: getVar($sizing, gutter, px, xlarge) 0 0 0; // all sections push themselves down
                &:first-of-type {
                    margin: 0 0 0 0;
                }
            }
            

            // no margin top on the first section (hero)
        }
    }

    &.js__noscroll {
        overflow: hidden;
    }
    &:not(.header-fadein){
        > main {
            margin-top: 72px; // offset by header height
        }
    }
}

// 
// 
// header, section and footer width containers
header,
main > section,
// .site__block,
footer {
    >.container {
        margin: 0 auto;

        &.full {
            width: getVar($sizing, content, full);
        }

        &.wide {
            width: getVar($sizing, content, wide);
        }
        
        &.normal {
            width: getVar($sizing, content, normal);
        }
        
        &.narrow {
            width: getVar($sizing, content, narrow);
        }
        
        @media screen and (max-width: 1280px) {
            &.narrow {
                width: getVar($sizing, content, normal);
            }
        }
        @media screen and (max-width: 960px) {
            &.normal, &.narrow {
                width: getVar($sizing, content, wide);
            }
        }
    }
}