a {
    text-decoration: none;
}

figure {
    position: relative;
    overflow: hidden;
}

img {
    object-fit: cover;
    height: auto;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #000;
    padding-left: getVar($sizing, gutter, px, small);
    text-align: left;
}

hr,
br {
    line-height: 0;
    font-size: 0;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    @include fontS-50;
}

h2 {
    @include fontS-34;
}

h3 {
    @include fontS-24;
}

h4 {
    @include fontS-20;
}

h5 {
    @include fontS-16;
}

h6 {
    @include fontS-14;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    // flex align the footer to the bottom
    display: flex;
    flex-flow: column nowrap;

    >main {
        flex: 1;
        margin: 0;

        >section {
            display: block;
            margin: 0 0 getVar($sizing, gutter, px, large) 0;
        }
    }
    &.js__noscroll {
        overflow: hidden;
    }
}

// header, section and footer containers
header, main > section, footer {
    > .container {
        margin: 0 auto;
        &.full {
            width: getVar($sizing, content, full);
        }
        &.wide {
            width: getVar($sizing, content, wide);
        }
        &.normal {
            width: getVar($sizing, content, normal);
        }
        &.narrow {
            width: getVar($sizing, content, narrow);
        }

    }
}

// basic cleanup for navlinks