// 
// 
// 
// 

// background image wrapper (mimic figure elem)
.bgimage {
    position: relative;
    overflow: hidden;
}

// background image
.bgimage-img {
    display: block;
    transition: all 0.25s ease;
    @include bgimage;
}

// background image wrapper (mimic figure elem)
.bgimage {
    .bgimage-img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.25s ease;
    }

    // img zooms on interaction
    &.bgimagezooms {

        &:hover,
        &:active,
        &:focus {

            // zoom img
            .bgimage-img {
                transform: scale(1.25);
            }
        }
    }
}



   // logo
   // either as an image or as text
   // denoted by class modifier .logo.logo--modifier
   .logo {
       display: block;
       max-width: 140px;
       img {
           width: 100%;
           max-height: 100%;
           object-fit: contain;
       }

       &.logo--image {}

       &.logo--text {
           color: getVar($pallete, basic, black);
           letter-spacing: 1px;
           border-bottom: 2px solid transparent;
           font-weight: 300;
           font-size: 2.4rem;
           font-family: "Cormorant Garamond", serif;
           // padding: 5px 0;
           line-height: 1;

           &:hover,
           &:focus,
           &:active {
               border-bottom: 2px solid getVar($pallete, brand, daccent);
           }
       }
   }

.site__social-media {
    $g: getVar($sizing, gutter, px, normal);
    margin: 0 ($g / 2) 0 0;
}


ul.iconlinks {

    $g: getVar($sizing, gutter, px, small);
    display: flex;
    flex-flow: row wrap;

    li.iconlinks-icon {
        margin: 0 $g $g 0;

        &:last-of-type {
            margin: 0 0 $g 0;
        }

        // icon
        .fab {
            font-size: 24px;
            transform: scale(1);
        }

        // if this is a link
        >a {
            display: block;
        }

    }
}



.wpforms-submit-container {
    display: flex !important;

    >button[type="submit"] {
        flex: 1 1 100%;
        margin: 0;
    }
}

.wpforms-submit-container>button.wpforms-submit[type="submit"],
a.button {

    // 
    $g: getVar($sizing, gutter, px, normal);
    // 
    display: inline-block;
    padding: 7.5px 15px;
    margin: 0 $g $g 0;
    // 
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;

    // 
    //  globals above
    //  specifics below
    // 
    &:not(.ghost) {
        @include solidStyle();

        &.active {
            @include ghostStyle();
        }
    }

    &.ghost {
        @include ghostStyle();

        &.active {
            @include solidStyle();
        }
    }

    // 
    &:last-of-type {
        margin: 0 0 $g 0;
    }

    &:last-of-type:first-of-type {
        margin: 0 0 0 0;
    }
}