// style fonts
@mixin fontS-12 {
    font-size: 1.2rem;
    line-height: 2.0rem;
}

@mixin fontS-14 {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

@mixin fontS-16 {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

@mixin fontS-18 {
    font-size: 1.8rem;
    line-height: 3rem;
}

@mixin fontS-20 {
    font-size: 2rem;
    line-height: 3.2rem;
}

@mixin fontS-24 {
    font-size: 2.4rem;
    line-height: 3.2rem;
}

@mixin fontS-34 {
    font-size: 3.4rem;
    line-height: 4.8rem;
}

@mixin fontS-40 {
    font-size: 4rem;
    line-height: 5.4rem;
}

@mixin fontS-50 {
    font-size: 5rem;
    line-height: 7.2rem;
}

@mixin fontS-72 {
    font-size: 7.2rem;
    line-height: 9.6rem;
}