// 
// 
// 
// 
// 

.flexgrid {

    
    margin: 0 0 -30px 0;
    &:not(:last-child){
        margin: getVar($sizing, gutter, px, large) 0 -30px 0;
    }

    @for $i from 0 to 6 {
        $c: $i + 1;

        &.cols-#{$c} {
            @include flexboxGrid($cols : $c);
        }
    }


}

@media screen and (max-width: 960px) {
 
 
    .flexgrid {


        @for $i from 2 to 6 {

            $c: $i + 1;

            &.cols-#{$c} {
                @include flexboxGrid($cols : 2);
            }
        }


    }

}



@media screen and (max-width: 640px) {


    .flexgrid {


        @for $i from 0 to 6 {
            $c: $i + 1;

            &.cols-#{$c} {
                @include flexboxGrid($cols : 1);
            }
        }


    }


}