
// 
// gets nested variables
// i.e., getVar($type, nested key, nested value);
@function getVar($v, $ks...) {
    @each $k in $ks {
        $v: map-get($v, $k);
    } 

    @return $v;
}


// 
$sizing : (
    content : (
        full : 100%
        ,wide : 80%
        ,normal : 65%
        ,narrow : 50%
    )
    ,gutter : (
        px : (
            small : 15px
            ,normal : 30px
            ,large : 60px
            ,xlarge : 90px
            ,vxlarge : 120px
        )
        ,vw : (
            small : 1vw
            ,normal : 2vw
            ,large : 5vw
            ,xlarge : 10vw
        )
    )
);



// map of all theme base colors
$sitecolors : (

    brand : (
        main : #F37022
        ,accent : #21f3c3
    )

);


// 
// 
// depricate all these colors

$colors : (
    white : (
        full : #ffffff,
        light : #E8EAE3,
    ),
    black : (
        full : #000000,
        dark : #373833,
    ),
    primary : #B4442E,
    secondary : #8ecdca,
    accent : #c38d9e
);

$ui : (
    ls : #F2F5F1
    ,la : #B99E96
    ,mb : #FD5E0F
    ,da : #D96273
    ,ds : #191D27
);


$material : (
    shades : (
        light : #ECEBEA
        ,dark : #191919
    )
    ,accent : (
        light : #C5707A
        ,dark : #46779D
    )
    ,brand : (
        // main : #FD5E0F
        main : #F37022
        // ,accent : #55b9be
        ,accent : #21f3c3
    )
    ,ui : (
        primary : #798793
        ,info : #383a45
        ,success : #5aa364
        ,warning : #d7932c
        ,danger : #f44336
    )
);