@media only screen {
    
    section.fclayout {
        text-align: center;
        width: 80vw;
        > h1 {
            font-size: 4rem;
        }
        > h2 {
            font-size: 3rem;
        }
    }

    section.fclayout__box {
        margin: 0 auto;
        width: 90%;
        display: inline-block;
        text-align: center;
        padding: 60px 0;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px 0;

        &:nth-of-type(2n) {
            border-radius: 0 10px;
        }

        >h2 {
            @include font-display-sm;
            text-transform: uppercase;
            margin-bottom: 60px;
            padding: 5px 0;
            border-bottom: 2px solid $colors-green;
        }

        >h3 {
            @include font-heading-sm;
            margin-bottom: 20px;
        }

        >h2:last-child,
        >h3:last-child {
            margin-bottom: 0;
        }
    }

    section.fclayout__client_list {

        > ul.clients {
            margin: $gutter auto;
            display: inline-block;
            list-style-type: none;
            column-count: 2;
            li {
                text-align: left;
            }
        }
    }

    section.fclayout__image_grid {

        .images {
            display: flex;
            padding: $gutter;
            margin: $gutter auto;
            > .bgimg {
                width: 20vw;
                height: 20vw;
                margin-right: $gutter;
            }
        }
        
    }
    
    
    
    
}