// 
// 
// 


.site__block {

    $g : getVar($sizing, gutter, px, normal);

    
    
    margin: getVar($sizing, gutter, px, large) 0 0 0;
    &:first-of-type:not(:last-of-type){margin: 0 0 0 0;}
    width: 100%;

    > .container {
        width: 100%;
        // sizings
        &.narrow {
            width: getVar($sizing, content, narrow);
        }
        &.medium {
            width: getVar($sizing, content, normal);
        }
        &.wide {
            width: getVar($sizing, content, wide);
        }
        
        > .block-heading,
        > .block-subheading {
            text-align: center;
            margin: 0 0 getVar($sizing, gutter, px, large) 0;
        }
    }
}


// TO BE BUILT:

@import 'blocks/image_block';
@import 'blocks/content_grid_block';
@import 'blocks/columns_block';
// @import 'blocks/block_name';
// @import 'blocks/block_name';