// 
// 
// 
// 
// 
// 



#flexzach .container {

    @include flexboxGrid();
    

    >.flexbox-parent {
        background-color: rgba(gray, 0.2);
        
        >.flexbox-child {

            background-color: rgba(black, 0.2);

            &:nth-child(odd) {
                background-color: rgba(blue, 0.2);
            }
        }

    }

}