// 
// 
// 
#cookie-law-info-again{
    border: 1px solid rgba(getVar($pallete, basic, white), 1);
    border-bottom: none 0;
    border-radius: 6px 6px 0 0;
}
#cookie-law-info-bar {
    @include aspectRatio();
    border-radius: 50%;
    padding: 0 !important;
    max-width: 400px;
    border: 1px solid rgba(getVar($pallete, basic, white), 1);

    > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        > a {
            margin-top: 15px !important;
        }
    }
}

// main > .site__block {
//     position: relative;
//     overflow: hidden;
//     margin: 0;
//     padding: getVar($sizing, gutter, vw, large) 0;
//     &:after {
//         content: '';
//         z-index: -1;
//         display: block;
//         position: absolute;
//         bottom: 0;
//         left: 50%;
//         width: 150%;
//         height: 25vw;
//         min-height: 300px;
//         background-color: rgba(getVar($pallete, brand, laccent), 0.5);
//         transform: translate(-50%, 0%) rotate(15deg);
//     }
//     &:nth-of-type(even){
//         &:after {
//             transform: translate(-50%, 0%) rotate(-15deg);
//         }
//     }
// }