// 
// 
// 
#cookie-law-info-again{
    border: 1px solid rgba(getVar($material, shades, light), 1);
    border-bottom: none 0;
    border-radius: 6px 6px 0 0;
}
#cookie-law-info-bar {
    @include aspectRatio();
    border-radius: 50%;
    padding: 0 !important;
    max-width: 400px;
    border: 1px solid rgba(getVar($material, shades, light), 1);

    > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        > a {
            margin-top: 15px !important;
        }
    }
}